{% extends 'layout.html.twig' %}

{#
 # The template for displaying a static page
 #
 #}

{% block body %}
	<section id="primary" class="content-area">
		<main id="main" class="site-main">

			<div style="margin: 0 calc(10% + 60px);">Static</div>

		</main><!-- #main -->
	</section><!-- #primary -->

{% endblock %}